/* Reset CSS para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    margin: 0;
    min-height: 100%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Faz com que o gradiente de fundo fique fixo ao rolar a página */
    color: #333;
    font-size: 16px;
    line-height: 1.6;
}

/* Cabeçalho com sombra, transparência e layout flexível */
header {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    color: #007bff;
}

/* Navegação estilizada com links à direita */
nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #0056b3;
}

a {
    text-decoration: none;
}

/* Estilo principal para o conteúdo da página */
main {
    margin: auto;
    max-width: 1200px;
    padding-top: 100px; /* Ajuste conforme a altura do cabeçalho */
    transition: padding-top 0.3s;
}

/* Estilos para formulários */
form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-top: 25px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


section h2 {
    text-align: center; /* Centraliza o texto dos títulos */
    margin-top: 30px; /* Espaço acima do título */
    margin-bottom: 20px; /* Espaço abaixo do título, ajuste conforme necessário */
}


form input[type="text"],
form input[type="number"],
form input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 3px 0;
        padding-bottom: 1px;
    }

    header h1 {
        margin-bottom: 10px; /* Espaço entre o título e o link de navegação */
    }

    nav a {
        display: block; /* Apresenta o link de navegação em uma linha própria */
        margin-bottom: 20px; /* Espaçamento abaixo do link */
    }

    main {
        padding-top: 175px;
    }
    
}
